a:link { color: #494A5E; }
a:visited { color: #494A5E; }
a:hover { color: #8687a1; }
a:active { color: #494A5E; }


.body{
  background: linear-gradient(#4FD0AE, #D8FF00);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Khula','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
}

.ContentsCard{
  margin-top: 10px;
  margin-bottom: 40px;
  width: 300px;
  padding: 30px;
  background-color: #FCFDF5;
  border-radius: 20px;
}


.topAccentBorder{
  border-top: solid 10px #D8FF00;
  margin: 0px;
  display: flex;
  margin: auto;
  position: relative;
  top: -30px;
  width: 130px;
}

.bottomAccentBorder{
  border-bottom: solid 10px #4FD0AE;
  margin: 0px;
  display: flex;
  margin: auto;
  position: relative;
  top: 30px;
  width: 130px;
}

.topTitle{
  text-align: center;
}

.skillList{
  display: flex;
}

.skillList li {
  flex: 1;
  margin-bottom: 10px;
}

.summary{
  clear: both;
}


.emptyBox{
  margin-top: 0px;
  margin-bottom: 20px;
}

.emptyBox2x{
  margin-top: 0px;
  margin-bottom: 40px;
}


.job{
  width: 60%;
  float: left;
}

.address{
  width: 40%;
  float: left;
}

.about{
  clear: both;
}


.bottomDecoration{
  margin-top: 20px;
  text-align: center;
}

.linkImage{
  -webkit-transition: 0.4s ;
}

.linkImage:hover{
  opacity: 0.8;
}

.companyName{
  color: #494A5E;
}

.companyCaption{
  font-size: 12px;
  color: #777996;
  margin-left: auto;
}

.caption{
  font-size: 12px;
  color: #777996;
  letter-spacing: 0.15em;
  position: relative;
  /*top: -10px;*/
}

.barcode{
  display: flex;
  margin: auto;
  margin-bottom: -30px;
  width: 230px;
  height: 30px;
}




h1{
  font-family: 'Podkova', serif;
  margin-bottom: 10px;
  color: #4FD0AE;
}

ul{
  list-style: none;
  width: 100%;
  color: #494A5E;
}

li{
  display: flex;
  align-items: center;
  color: #494A5E;
}

p{
  margin-bottom: 20px;
  color: #494A5E;
}

hr{
  border: none;
}

h2{
  font-family: 'Podkova', serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #494A5E;
}

h3{
  font-family: 'Podkova', serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #494A5E;
}

h5{
  font-family: 'Podkova', serif;
  font-size: 14px;
  color: #ACC145;
  position:relative;
  top:-5px;
}

a{
  margin-left: 20px;
  width:100%;
  height:100%;
}

a:first-child{
  margin-left: 0px;
}


@media screen and (min-width: 0px) and (max-width: 375px) {

  h3{
    font-family: 'Podkova', serif;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .topAccentBorder{
    position: relative;
    top: 0px;
    margin-bottom: 30px;
  }

  .ContentsCard{
    width: 260px;
    padding: 0 20px;
    margin: 20px;
  }
  .skillBadge{
    width: 75px;
    height: 75px;
    float: left;
    font-size: 36px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .ticketBorder{
    margin: 0 -20px;
  }

  .barcode{
    margin-bottom: 0px;
  }
}
