a:link { color: #ff0000; }
a:visited { color: #000080; }
a:hover { color: #ffff00; }
a:active { color: #ff8000; }


.body{
  background-color: #3395C9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Khula',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
}

.ContentsCard{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  padding: 30px;
  background-color: #FCFDF5;
  border-radius: 10px;
}


.topAccentBorder{
  border-top: solid 20px #E1FF3A;
  margin: 0px;
  position: relative;
  top: -30px;
}

.topTitle{
  text-align: center;
}

.skillList{
  display: flex;
}

.skillList li {
  flex: 1;
  margin-bottom: 10px;
}

.skillList .badge {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #E1FF3A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillList .badge span {
  color: #FCFDF5;
  font-family: 'Podkova', serif;
  font-size: 48px;
}

.summary{
  clear: both;
}


.emptyBox{
  margin-top: 0px;
  margin-bottom: 20px;
}

.job{
  width: 60%;
  float: left;
}

.address{
  width: 40%;
  float: left;
}

.about{
  clear: both;
}

.ticketBorder{
  margin: 0 -30px;
  height: 8px;
  background-image: url("ticketBorder.png");
}

.bottomDecoration{
  margin-top: 20px;
  text-align: center;
}

.behanceImage{
  width: 100%;
}

.linkImage{
  -webkit-transition: 0.4s ;
}

.linkImage:hover{
  opacity: 0.8;
}

.companyCaption{
  font-size: 12px;
  color: #777996;
  margin-left: auto;
}

.caption{
  font-size: 12px;
  color: #777996;
}

.bercode{
  display: flex;
  margin: auto;
  margin-bottom: -30px;
  width: 200px;
  height: 20px;
}

h1{
  font-family: 'Podkova', serif;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #777996;
}

ul{
  list-style: none;
  width: 100%;
}

li{
  display: flex;
  align-items: center;
}

p{
  margin-bottom: 20px;
}

hr{
  border: none;
}

h3{
  font-family: 'Podkova', serif;
  font-size: 36px;
  margin-bottom: 20px;
}

h5{
  font-family: 'Podkova', serif;
  font-size: 14px;
  color: #ACC145;
}

a{
  margin-left: 20px;
  width:100%;
  height:100%;
}

a:first-child{
  margin-left: 0px;
}


@media screen and (min-width: 0px) and (max-width: 375px) {
  h3{
    font-family: 'Podkova', serif;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .ContentsCard{
    width: 100%;
    padding: 0 20px;
    margin: 10px;
  }
  .skillBadge{
    width: 75px;
    height: 75px;
    float: left;
    font-size: 36px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .ticketBorder{
    margin: 0 -20px;
  }

  .bercode{
    margin-bottom: 0;
  }
}
